include README.md
include LICENSE
include pyproject.toml
include Cargo.toml
include Cargo.lock
include rust-toolchain.toml
recursive-include src *.rs
recursive-include python *.py *.pyi
include python/rustcam/py.typed
